* {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.console {
  background-color: white;
  color: red;
}

.wprompt {
  font-family: Arial;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.305);
  color: rgba(15, 15, 15, 0.7);
  width: 600px;
  height: 150px;
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
}

.wprompt h1 {
  font-size: 17px;
  padding: 7px 0 5px 5px;
}

.wprompt textarea {
  outline: none !important;
  background-color: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.2);
  flex: 1;
  color: rgba(1, 1, 1, 0.85);
  font-size: 17px;
  width: 100%;
  padding: 10px;
  resize: none;
  box-sizing: border-box;
}

.wprompt textarea:focus {
  outline: none !important;
}

.wprompt .help {
  font-size: 16px;
  padding: 12px 0 7px 5px;
}

.requestManager {
  width: 100%;
  height: 95%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 1vw;
}

.request-container {
  position: relative;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 300;
  min-width: 20vw;
  animation: slide-in-top 0.5s ease-in-out;
}

#NotifyBackground {
  padding: 2vh 1.2vw;
  color: rgba(255, 255, 255, 0.8);
  max-width: 15vw;
  /* backdrop-filter: blur(2px); */
  border: 2px solid #6f6f6f;
  background: #00000067;
  border-radius: 15px;
  clip-path: polygon(50% 25%, 65% 0, 100% 0, 100% 100%, 0 100%, 0 0, 35% 0);
}

#requestLabel {
  font-size: 0.8vw;
  text-align: center;
  padding: 1vh 0;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.9);
  margin-top: 2.5vh;
}

#NotifyBackground b {
  color: rgba(255, 255, 255, 0.9);
}

#requestButtons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 0.3vh;
  font-size: 0.7vw;
  /* justify-content: space-between; */
}

#requestButtons .requestText {
  width: 100%;
  text-align: center;
  padding: 1vh;
  border-radius: 5px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.8);
}

#requestButtons #accept {
  background-color: #7cad37c9;
  width: 1vw;
  padding: 0.5vh 0.5vw;
  border-radius: 5px;
  font-size: 1vw;
  text-align: center;
}

#requestButtons #denied {
  background-color: #bd4130c0;
  width: 1vw;
  padding: 0.5vh 0.5vw;
  border-radius: 5px;
  font-size: 1vw;
  text-align: center;
}

.requestButtonText {
  display: flex;
  align-items: center;
}

.requestText {
  background-color: #0000001a;
  /* backdrop-filter: blur(2px); */
  border: 0.1px solid #6f6f6f;
  border-left: none;
}

.diamond {
  border: 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;

  transform: rotate(45deg);
  border-radius: 15px;
  top: -34%;
  left: 35%;
  background: linear-gradient(to bottom, #ffe554a4, #ffe55040);
  /* backdrop-filter: blur(6px); */
  width: 3.4vw;
  height: 3.4vw;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.diamond-icon {
  height: 2.7vh;
  transform: rotate(-45deg);
  text-align: center;
  font-size: 1vw;
  font-weight: 500;
  color: white;
}

.menu {
  top: 20%;
  right: 25%;
  position: fixed;
  font-family: arial;
  color: #6f6f6f;
  width: 202px;
  height: 458px;
  text-align: center;
}

.menu_description {
  position: absolute;
  top: 20%;
  right: 10%;
  margin-top: 11px;
  margin-left: 11px;
}

.menu_description text01 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  background: rgba(0, 0, 0, 0.7);
  width: 80px;
  padding: 7px 12px;
  font-weight: 700;
  float: left;
  margin-bottom: 2px;
}

.menu_description text02 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  background: rgba(255, 255, 255, 0.7);
  width: 70px;
  padding: 7px 12px;
  float: left;
  margin-bottom: 2px;
}

.menu h1 {
  background: rgba(10, 10, 10, 0.95);
  text-transform: uppercase;
  color: white;
  height: 50px;
  line-height: 50px;
  letter-spacing: 3px;
  font-size: 24px;
  color: #fff;
  font-family: Bebas !important;
  font-weight: 300;
  margin-bottom: 10px;
  border-radius: 3px;
  text-shadow: 1px 1px #000;
}

.choices {
  overflow-y: scroll;
  overflow-x: hidden;
}

.choices::-webkit-scrollbar {
  display: none;
}

.choices > div {
  text-transform: uppercase;
  background: rgba(20, 20, 20, 0.95);
  line-height: 40px;
  height: 40px;
  border: 0;
  color: #fff;
  margin-bottom: 10px;
  border-radius: 3px;
  letter-spacing: 1px;
  text-shadow: 1px 1px #000;
  border-bottom: 1px solid rgba(5, 5, 5, 0.9);
  font-size: 12px;
}

.choices .selected {
  background: #a8244e;
  border-bottom: 1px solid rgba(5, 5, 5, 0.9);
}

.slide-in-bottom {
  animation: slide-in-bottom 0.5s ease-in-out;
}

@keyframes slide-in-top {
  from {
    transform: translateY(100%) scale(0.5);
  }
  to {
    transform: translateY(0) scale(1);
  }
}

@keyframes slide-in-bottom {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(100%) scale(0.1);
  }
}
